{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ event.datetime ? event.datetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ event.place }}</td>
            </tr>
            <tr>
                <th>Organizer</th>
                <td>{{ event.organizer }}</td>
            </tr>
            <tr>
                <th>Участники</th>
                <td>{% for user in event.participants %}<a href="{{ path('user_show', {'id': user.id}) }}">{{  user.name }}</a> {% endfor %}</td>

            </tr>
            <tr>
                <th>Min_age</th>
                <td>{{ event.minAge }}</td>
            </tr>
            <tr>
                <th>Min_users</th>
                <td>{{ event.minUsers }}</td>
            </tr>
            <tr>
                <th>Max_users</th>
                <td>{{ event.maxUsers }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>{{ event.photos ? event.photos|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ event.comments ? event.comments|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">back to list</a>

    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
