<!DOCTYPE html>
<html lang="rus">
<head>
  <meta charset="utf-8">
  <title>AURORA</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- <link href="css/main.css" rel="stylesheet"> -->
  <link href="css/login.css" rel="stylesheet">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">  
</head>  


<body>
    <div class="login_container">
        <div class="login_page_logo">
            <div class="login_page_logo_img">
                <p>Вход
            </div>
        </div>
        <div class="login_form">
            <form method="post">
                <label for="inputLast_name">Логин</label>
                <input type="text" class="form-control" name="last_name" id="inputLast_name" required autofocus>
                <label for="inputPassword">Пароль</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token"value="HwhQhjEslRKxBcLKeHBcMzdzyaUhHsDJt_pw7FCSD9k">
                <button type="button" class="btn btn-primary btn-block">Войти</button>
            </form>
        </div>
    </div>

    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>



</html>