{% extends 'base.html.twig' %}

{% block title %}Edit EventType{% endblock %}

{% block body %}
    <h1>Edit EventType</h1>

    {{ include('event_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_type_index') }}">back to list</a>

    {{ include('event_type/_delete_form.html.twig') }}
{% endblock %}
