{% extends 'base.html.twig' %}

{% block title %}New EventType{% endblock %}

{% block body %}
    <h1>Create new EventType</h1>

    {{ include('event_type/_form.html.twig') }}

    <a href="{{ path('event_type_index') }}">back to list</a>
{% endblock %}
