{% extends 'base.html.twig' %}

{% block title %}EventType{% endblock %}

{% block body %}
    <h1>EventType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_type_index') }}">back to list</a>

    <a href="{{ path('event_type_edit', {'id': event_type.id}) }}">edit</a>

    {{ include('event_type/_delete_form.html.twig') }}
{% endblock %}
