<!DOCTYPE html>
<html lang="rus">
<head>
  <meta charset="utf-8">
  <title>AURORA</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>


<body>
    <script src="/js/anime.min.js"></script>
    <div class="navbar navbar-light navbar-fixed-top">
        <div class = "navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button " class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <div class = "sm">
                <a class="navbar-left"><img  src="/img/logo_m.svg" style= "width:90px;height: 114px;"></a>
            </div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav fixed-bottom navbar-nav navbar-right ">
                {% if app.user %}
                <a data-toggle="modal" href="/user/{{ app.user.id}}"><button class="btn btn-outline-success"  type="button">Личный кабинет</button></a>
                    <a data-toggle="modal" href="/logout"><button class="btn btn-outline-success"  type="button">Выйти</button></a>
                {% endif %}
                {% if not app.user %}
              <a data-toggle="modal" data-target="#loginModal" href="#loginModal"><button class="btn btn-outline-success"  type="button">Войти</button></a>
              <a data-toggle="modal" data-target="#regModal" href="#regModal"><button class="btn btn-outline-success" type="button">Регистрация</button></a>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div id="headerwrap">
      <div class="container">
          <div class="row centered">
              <div class="col-lg-12">
                  <div class="col-lg-6">
                      <img  src="img/h_d.svg">
                  </div>
                  <div class="col-lg-6 centered">
                      <h1><strong>see in the future</strong></h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="how">
      <div class="container">
          <div class="row centered">
              <div class="col-lg-12">
                  <h1>AURORA - проект созданный людьми для людей</h1>
                  <h2>Главная цель - помочь  людям выбраться из своей зоны комфорта</h2>
              </div>
          </div>
      </div>
  </div>
  <div class="kol">
      <div class="pol">
          <div class="container">
              <div class="row centered">
                  <div class="col-lg-6 col-lg-offset-3">
                      <div class = "bord1">
                      </div>
                      <h1>Вчера</h1>
                      <script>
                          anime({
                              targets: '.bord1',
                              translateX: 155,
                              loop : true,
                              easing: 'easeOutBounce',
                              background: "#FFAB09",
                              opacity: "1",
                              duration: 3500
                          });
                      </script>
                      <h1>Сегодня</h1>
                      <div class = "bord2">
                      </div>
                      <script>
                          anime({
                              targets: '.bord2',
                              translateX: 160,
                              loop : true,
                              easing: 'easeOutBounce',
                              background: "#FFAB09",
                              opacity: "1",
                              duration: 3500
                          });
                      </script>
                      <h1>Завтра</h1>
                      <div class = "button_pr">
                          <a href="#">Попробовать</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="voln">
  </div>
  <div class="who">
      <div class="container">
          <div class="row centered">
              <div class="col-lg-6 col-lg-offset-3">
                  <div class="img_h"><img  src="img/Group.svg">
                  </div>
                  <script>
                      anime({
                          targets: '.img_h',
                          translateY: -30,
                          loop : true,
                          easing: 'easeInOutSine',
                          direction: 'alternate',
                          duration: 2000
                      });
                  </script>

              </div>
          </div>
      </div>
      <br><br><br><br>
      <div class="container">
          <div class="row centered">
              <div class="col-lg-10 col-lg-offset-1">
                  <div class="all">
                      <input checked type="radio" name="respond" id="desktop">
                      <article id="slider">
                          <input checked type="radio" name="slider" id="switch1">
                          <input type="radio" name="slider" id="switch2">
                          <input type="radio" name="slider" id="switch3">
                          <div id="slides">
                              <div id="overflow">
                                  <div class="image">
                                      <article><img src="imgs/1.svg"></article>
                                      <article><img src="imgs/2.svg"></article>
                                      <article><img src="imgs/3.svg"></article>
                                  </div>
                              </div>
                          </div>
                          <div id="controls">
                              <label for="switch1"></label>
                              <label for="switch2"></label>
                              <label for="switch3"></label>
                          </div>
                          <div id="active">
                              <label for="switch1"></label>
                              <label for="switch2"></label>
                              <label for="switch3"></label>
                          </div>
                      </article>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer">
      <div class="container">
          <div class="row centered">
              <div class="col-lg-10 col-lg-offset-1">
                  <br>
                  <p> &copy; Copyrights <strong>AURORA</strong>. All Rights Reserved</p>
              </div>
          </div>
      </div>
  </div>




        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close fixed-top" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                  <div class="modal_login">
                    <div class="login_page_logo">
                      <div class="login_page_logo_img">
                          <p>Вход</p>
                      </div>
                    </div>
                    <div class="login_form">
                      <form method="post" action="/login">
                        {% if app.user %}
                          <div class="mb-3">
                            You are logged in as {{ app.user.name }} {{ app.user.lastname }}, <a href="{{ path('app_logout') }}">Logout</a>
                          </div>
                        {% endif %}
                        <label for="inputLast_name">E-mail</label>
                          <input type="text" class="form-control" name="email" id="inputEmail" required autofocus>
                          <br>
                          <label for="inputPassword">Пароль</label>
                          <input type="password" name="password" id="inputPassword" class="form-control" required>
                          <input type="hidden" name="_csrf_token" value={{ csrf_token('authenticate') }}>
                          <br>
                          <button class="btn btn-lg btn-primary" type="submit">Войти</button>

                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close fixed-top" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                  <div class="modal_reg">
                    <div class="reg_page_logo">
                      <div class="reg_page_logo_img">
                          <p>Регистрация</p>
                      </div>
                    </div>
                    <div class="reg_form">
                      <form method="post" action="/register">
                        <label for="input_email">Почта</label>
                          <input type="email" class="form-control" name="email" id="input_email" required autofocus>
                          <br>
                          <label for="inputPassword">Пароль</label>
                          <input type="password" name="password" id="inputPassword" class="form-control" required>
                          <input type="hidden" name="_csrf_token"value="HwhQhjEslRKxBcLKeHBcMzdzyaUhHsDJt_pw7FCSD9k">
                          <br>
                          <button type="button" class="btn btn-primary btn-block">Зарегистрироваться</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>



</html>