@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Forum&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-weight: 300;
    font-size: 16px;
    color:#F4F4F4;
    font-family: 'Forum', cursive;
    margin-top: 70px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #F4F4F4;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}
.lefted{
    text-align: left;
}
.centered {
    text-align: center;
}
a {
    font-weight: 200;
    font-family: 'Forum', cursive;
    color: #F4F4F4;
    word-wrap: break-word;
    transition: color 0.1s ease-in, background 0.1s ease-in;
    text-decoration:none;
  } 
.a:focus {
  color:#F4F4F4;
}
a:before, a:after {
    transition: color 0.1s ease-in, background 0.1s ease-in;
} 
  .navbar {
    font-weight: 800;
    height: 116px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background-color: #736ADB;
  }

  


.bord1{
  position: absolute;
  top: 67px;
	width: 240px;
	height: 4px;
  background-color: #736ADB;
  opacity: 0.1;
}
.bord2{
  position: absolute;
  top: 307px;
	width: 240px;
  height: 4px;
  background-color: #736ADB;
  opacity: 0.1;
}





.navbar-light.navbar-nav>.active>a {
    background: #736ADB;
  }

.navbar-light{
    background: #736ADB;
    border-color: #736ADB;
  }
.navbar-toggle {
    background-color: #F4F4F4;
}
.icon-bar {
    background-color: #736ADB;
}
  .navbar-brand{
    color: #F4F4F4;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .navbar-collapse{
    background-color: #736ADB;
  }
  .btn{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    background-color: #736ADB;
    margin-top: 36px; 
  }
  .btn:hover{
    border-color: #F4F4F4;
    color:#F4F4F4;
    text-decoration: none;
    outline: none;
  }
  
#headerwrap{
    background-color: #302E81;
    font-family: 'Gochi Hand', cursive;
    padding: 80px;
}
#headerwrap h1 {
    margin-top: 80px;
    margin-left: 70px;
    color:#F4F4F4;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 3px;
  }
.how{
    color:#F4F4F4;
    background-color: #736ADB;
    padding: 80px;
}
.how h1{
    font-size: 55px;
}
.how h2{
    font-size: 35px;
}
.kol{
    background-color:#736ADB;
}
.pol{
  padding: 50px;
}
.pol h1{
  font-size: 90px;
}
.button_pr{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 40px;
  margin: 20px 20px;
  position: relative;
  color: #F4F4F4;
  background:#FFAB09;
  font-size: 23px;
  border-radius: 10px;
}
.button_pr:hover{
  text-decoration: none;
  outline: none;
  background: #00838B;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
.button_pr a{
  text-decoration: none;
  outline: none;
  color: #F4F4F4;
}
.voln{
    background: url("../img/kol.svg") no-repeat;
    height: 28vw;
    background-color: #F4F4F4;
}
.who{
  background-color: #F4F4F4;
  height: 100vw;
}
.footer{
  padding: 40px;
  background-color:#736ADB;

}
.footer p{
  color: #F4F4F4;
  font-size: 22px;

}






#slides article{ /*все изображения справа друг от доруга*/
width: 20%;
float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
width: 500%;
line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
width: 100%;
overflow: hidden;
}

article img{ /*размер изображений слайдера*/
width: 100%;
}


/* СЛАЙДЕР*/
#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
background: url('../imgs/prev.png') no-repeat; 
float: left;
margin: -160px 0 0 -84px; 
display: block;
height: 68px;
width: 68px;
}
/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1){
background: url('../imgs/next.png') no-repeat; 
float: right;
margin: -160px -84px 0 0; 
display: block;
height: 68px;
width: 68px;
}
label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
margin-left: 0;
}

#switch2:checked ~ #slides .image{
margin-left: -100%;
}

#switch3:checked ~ #slides .image{
margin-left: -200%;
}


#controls{ /*положение блока всех управляющих элементов*/
margin: -25% 0 0 0;
width: 100%;
height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
border-radius: 10px; /*скругление углов*/
display: inline-block; /*расположение в строку*/
width: 15px;
height: 15px;
background: #bbb;
}

#active{ /*расположение блока с переключателями*/
margin: 23% 0 0;
text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
background: #736ADB;
border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3){
background: #736ADB;
border-color: #736ADB !important;
}

#slides .image{ /*анимация пролистывания изображений*/
transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
transition: opacity 0.2s ease-out;
}



.modal-body {
  background-color: #736ADB;
  color: #F4F4F4;
  font-size: 20px;
  padding: 35px;
}


.login_page_logo_img {
  background-image: url(../img/login_yellow_some_shit.svg);
  width: 50%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login_page_logo_img p {
  margin: 0;
  position: relative;
  top: 50%;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.login_page_logo {
  width: 100%;
  height: 12vw;
}

.login_form {
  margin-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login_form label {
  font-weight: normal;
}

.login_form button {
  background-color: #FFAB09;
  border: none;
  font-size: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  transition: 0.2s;
}

.login_form button::hower {
  background-color: #00838B;
}








.reg_page_logo_img {
  background-image: url(../img/login_yellow_some_shit.svg);
  width: 50%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.reg_page_logo_img p {
  margin: 0;
  position: relative;
  top: 50%;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.reg_page_logo {
  width: 100%;
  height: 12vw;
}

.reg_form {
  margin-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.reg_form label {
  font-weight: normal;
}

.reg_form button {
  background-color: #FFAB09;
  border: none;
  font-size: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  transition: 0.2s;
}

.reg_form button::hower {
  background-color: #00838B;
}


TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 300px; /* Ширина таблицы */
}
TH, TD {
    border: 1px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    padding: 4px; /* Поля вокруг текста */
}
TH {
    background: #fc0; /* Цвет фона ячейки */
    height: 40px; /* Высота ячеек */
    vertical-align: bottom; /* Выравнивание по нижнему краю */
    padding: 0; /* Убираем поля вокруг текста */
}










