@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Forum&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-weight: 300;
    font-family: 'Forum', cursive;
    margin-top: 70px;
    background-color: #736ADB;
    color: #F4F4F4;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #F4F4F4;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.lefted{
    text-align: left;
}

.centered {
    text-align: center;
}

a {
    font-weight: 200;
    font-family: 'Forum', cursive;
    color: #F4F4F4;
    word-wrap: break-word;
    transition: color 0.1s ease-in, background 0.1s ease-in;
} 

a:before, a:after {
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.login_page_logo_img {
    background-image: url(../img/login_yellow_some_shit.svg);
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login_page_logo_img p {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login_page_logo {
    width: 100vw;
    height: 12vw;
}

.login_form {
    margin-top: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login_form label {
    font-weight: normal;
}

.login_form button {
    background-color: #FFAB09;
    border: none;
    margin-top: 33px;
    font-size: 20px;
    padding: 3px 12px;
    transition: 0.2s;
}

.login_form button::hower {
    background-color: #00838B;
}