@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Forum&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-weight: 300;
    font-size: 16px;
    color:#F4F4F4;
    font-family: 'Forum', cursive;
    margin-top: 116px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #F4F4F4;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}
.lefted{
    text-align: left;
}
.centered {
    text-align: center;
}
a {
    font-weight: 200;
    font-family: 'Forum', cursive;
    color: #F4F4F4;
    word-wrap: break-word;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  } 
a:before, a:after {
    transition: color 0.1s ease-in, background 0.1s ease-in;
} 
  .navbar {
    font-weight: 800;
    height: 116px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background-color: #736ADB;
  }
  
.navbar-light.navbar-nav>.active>a {
    background: #736ADB;
  }

.navbar-light{
    background: #736ADB;
    border-color: #736ADB;
  }
.navbar-toggle {
    background-color: #F4F4F4;
}
.icon-bar {
    background-color: #736ADB;
}
  .navbar-brand{
    color: #F4F4F4;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .navbar-collapse{
    background-color: #736ADB;
  }
  .btn{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    background-color: #736ADB;
    margin-top: 36px; 
  }
  .btn:hover {
    border-color: #F4F4F4;
    color:#F4F4F4;
    text-decoration: none;
    outline: 0;
  }
#headerwrap{
    background-color: #302E81;
    font-family: 'Gochi Hand', cursive;
    padding: 80px;
}
#headerwrap h1 {
    margin-top: 80px;
    margin-left: 70px;
    color:#F4F4F4;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 3px;
  }
.how{
    color:#F4F4F4;
    background-color: #736ADB;
    padding: 80px;
}
.how h1{
    font-size: 55px;
}
.how h2{
    font-size: 35px;
}
.kol{
    background: url("../img/kol.svg") no-repeat;
    height: 100vw;
    width: 100vw;
    min-height: 300px; 
}
.pol{
  padding: 50px;
}
.pol h1{
  font-size: 80px;
}
.button_pr{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 40px;
  margin: 20px 20px;
  position: relative;
  color: #F4F4F4;
  background:#FFAB09;
  font-size: 21px;
  border-radius: 10px;
}
.button_pr:hover{
  text-decoration: none;
  outline: none;
  background: #00838B;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
.button_pr a{
  text-decoration: none;
  outline: none;
  color: #F4F4F4;
}
.who{
  background: #F4F4F4;
  height: 200px;
}


.modal-body {
  background-color: #736ADB;
  color: #F4F4F4;
  font-size: 20px;
  padding: 35px;
}


.login_page_logo_img {
  background-image: url(../img/login_yellow_some_shit.svg);
  width: 50%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login_page_logo_img p {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.login_page_logo {
  width: 100%;
  height: 12vw;
}

.login_form {
  margin-top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login_form label {
  font-weight: normal;
}

.login_form button {
  background-color: #FFAB09;
  border: none;
  margin-top: 33px;
  font-size: 20px;
  padding: 3px 12px;
  transition: 0.2s;
}

.login_form button::hower {
  background-color: #00838B;
}