.profile-container {
    padding-top: 35px;
    font-size: 20px;
    background-image: url("../img/l_k.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login_page_logo {
    margin-bottom: 35px;
}