<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="public/css/bootstrap.css" rel="stylesheet">
            <link href="public/css/main.css" rel="stylesheet">
            <link href="public/css/profile.css" rel="stylesheet">
            <link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css">
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
