<!DOCTYPE html>
<html lang="rus">
<head>
  <meta charset="utf-8">
  <title>AURORA</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href={{ absolute_url('../css/bootstrap.css') }} rel="stylesheet">
  <link href={{ absolute_url('../css/main.css') }} rel="stylesheet">
  <link href={{ absolute_url('../css/profile.css') }} rel="stylesheet">
  <link rel="stylesheet" href={{ absolute_url('../font-awesome/css/font-awesome.min.css') }}>
</head>


<body>
    <div class="navbar navbar-light navbar-fixed-top">
        <div class = "navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button " class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <div class = "sm">
                <a class="navbar-left"><img src={{ absolute_url('../img/logo_m.svg') }} style = "width:90px;height: 114px;"></a>
            </div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav fixed-bottom navbar-nav navbar-right ">
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-container">
        <div class="login_page_logo">
            <div class="login_page_logo_img">
                <p>Личный<br> кабинет
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <img style="width: 50%; float: right;" src={{ absolute_url('../img/unnamed.jpg') }}>
            </div>
            <div class="col-sm-4">
              <p>{{ user.name }}</p>
                <p>{{ user.patronname }}</p>
              <p>{{ user.lastname }}</p>

              <p>{{ user.age }} лет</p>
                {{ user.description }}
                <p></p>
              <p>Интересы: {{ user.interests ? user.interests|join(', ') : '' }}</p>

            </div>
            <div class="col-sm-4">
              <div style="width: 25%; float: left; text-align: center;">
                <img src={{ absolute_url('../img/city.svg') }} style= "width: 100%; margin-left: auto; margin-right: auto;">
                <p>{{ app.user.city }}</p>

              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="text-align: center;">
                    <h3>Мои мероприятия</h3>
                    <p>{{ user.events ? user.events|join(', ') : '' }}</p>
                    <h3>Участие в мероприятиях</h3>
                    <p>{{ user.eventparticipations ? user.eventparticipations|join(', ') : '' }}</p>
                    <img src={{ absolute_url('../img/no_photo.svg') }} style= "width: 50%; margin-left: auto; margin-right: auto;">
                </div>
                
            </div>
        </div>
        </div>

    </div>
    

    <script src={{ absolute_url('../jquery/jquery.js') }}></script>
    <script src={{ absolute_url('../js/bootstrap.min.js') }}></script>
</body>



</html>